/*__________________________________________Generelt________________________________________*/

/* HUSK AT LAVE FONTE */

img {
  width: 100%;
}

a:hover {
  color: #ff6143;
}

html {
  background-image: url(billeder/footer_baggrund@4x.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

/* le petit soleil  */
.lille_ikon {
  width: 45px;
  height: 45px;
  margin-bottom: 60px;
}

/* le petit soleil*/
.box_lille_ikon {
  display: flex;
  justify-content: center;
}

p {
  line-height: 1.7;
}

/*_________________________________________FRONT PAGE___________________________________________*/

.forklarende_tekst_front_page {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
/* MOBIL UDGAVE */
@media (max-width: 600px) {
  #valg_knap {
    display: grid;
    justify-content: center;
  }

  .front_page_knapper {
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 5px;
  }
  .knap_prof_front {
    border: none;
    color: #032623;
    z-index: 100%;
    transition-duration: 0.6s;
    cursor: pointer;
    background-image: url(billeder/Prof.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 20% 40%;
    position: relative;
  }

  .placer_knap_prof {
    display: grid;
    justify-content: center;
    grid-column: 1/2;
    grid-row: 1/2;
  }

  .knap_praktik_front {
    border: none;
    color: #032623;

    transition-duration: 0.6s;
    cursor: pointer;
    background-image: url(billeder/Praktik.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 20% 40%;
  }

  .placer_knap_praktik {
    display: grid;
    justify-content: center;
    grid-column: 2/3;
    grid-row: 1/2;
  }

  .knap_skole_front {
    border: none;
    color: #032623;

    transition-duration: 0.6s;
    cursor: pointer;
    background-image: url(billeder/Skole.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 20% 40%;
  }

  .placer_knap_skole {
    display: grid;
    justify-content: center;
    grid-column: 1/2;
    grid-row: 2/3;
  }

  .knap_nina_front {
    border: none;
    color: #032623;

    transition-duration: 0.6s;
    cursor: pointer;
    background-image: url(billeder/nina.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 20% 40%;
  }

  .placer_knap_nina {
    display: grid;
    justify-content: center;
    grid-column: 2/3;
    grid-row: 2/3;
  }
}

@media (min-width: 600px) {
  #valg_knap {
    display: grid;
    justify-content: center;
  }
  .front_page_knapper {
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 5px;
  }

  .knap_prof_front {
    background-image: url(billeder/Prof.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 20% 40%;
    border: none;
    width: 300px;
    height: 300px;
    display: inline-block;
    cursor: pointer;
  }

  .placer_knap_prof {
    display: grid;
    justify-content: center;
    grid-column: 1/2;
    grid-row: 1/2;
  }

  .knap_praktik_front {
    background-image: url(billeder/Praktik.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 20% 40%;
    border: none;
    display: inline-block;
    cursor: pointer;
    width: 300px;
    height: 300px;
  }

  .placer_knap_praktik {
    display: grid;
    justify-content: center;
    grid-column: 2/3;
    grid-row: 1/2;
  }

  .knap_skole_front {
    background-image: url(billeder/Skole.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 20% 40%;
    border: none;
    display: inline-block;
    cursor: pointer;
    width: 300px;
    height: 300px;
  }

  .placer_knap_skole {
    display: grid;
    justify-content: center;
    grid-column: 1/2;
    grid-row: 2/3;
  }

  .knap_nina_front {
    background-image: url(billeder/nina.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 20% 40%;
    border: none;
    display: inline-block;
    cursor: pointer;
    width: 300px;
    height: 300px;
  }

  .placer_knap_nina {
    display: grid;
    justify-content: center;
    grid-column: 2/3;
    grid-row: 2/3;
  }
}

/*__________________________________________FOOTER________________________________________*/

@media only screen and (max-width: 600px) {
  #footer_info {
    display: flex;
    justify-content: space-evenly;
    padding-top: 50px;
    padding-bottom: 10px;
  }

  .footer_icon {
    width: 30px;
    height: 30px;
  }

  .nina_logo {
    width: 40px;
    height: 40px;
  }

  .footer_box {
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
  }

  .kontakt_info {
    width: 40px;
  }
}

@media only screen and (min-width: 600px) {
  #footer_info {
    display: flex;
    justify-content: space-around;
    padding-top: 150px;
    padding-bottom: 30px;
  }

  .footer_icon {
    width: 30px;
    height: 30px;
  }

  .nina_logo {
    width: 45px;
    height: 45px;
  }

  .footer_box {
    display: flex;
    gap: 15px;
  }
}

/*__________________________________________MENU GENERELT________________________________________*/

/*Mobil*/
@media only screen and (max-width: 600px) {
  .menu {
    display: flex;
    justify-content: right;
    margin: 10px;
    gap: 5px;
  }

  .menu a {
    color: #262526;
    justify-content: center;
    padding: 10px;
    text-decoration: none;
    font-size: 1.5rem;
  }
}

/* desktop*/
@media only screen and (min-width: 600px) {
  .menu {
    display: flex;
    justify-content: right;
    padding-bottom: 40px;
    margin: 20px;
    gap: 15px;
  }

  .menu a {
    color: #262526;
    justify-content: center;
    padding: 10px;
    text-decoration: none;
    font-size: 1.5rem;
  }
}
/*__________________________________________Menu knap________________________________________*/

/*menu opstilling til mobil */
.hidden {
  transform: translateX(-100%);
  opacity: 0;
}

#menuknap {
  display: inline-block;
  color: #032623;
  font-size: 2rem;
}

#menu {
  list-style-type: none;
  transition: transform 0.3s;
  transform-origin: top left;
  margin-left: 8px;
  color: #032623;
  line-height: 1.8rem;
}

/* menu opsætning til desktop*/
@media only screen and (min-width: 600px) {
  #menuknap {
    display: none;
  }

  #menu.hidden {
    transform: translateX(0);
    opacity: 1;
  }

  #menu li {
    display: inline-block;
  }

  a {
    color: #5f5f5f;
    padding: 6px;
    font-size: 0.7rem;
    text-decoration: none;
  }

  a:hover {
    color: #ff6143;
  }
  .menu {
    display: flex;
    justify-content: center;
  }
  nav {
    display: flex;
    flex-direction: row;
    gap: 5px;
    list-style: none;
    justify-content: center;
    justify-content: right;
  }
}

/*menu opstilling til mobil*/
@media only screen and (max-width: 600px) {
  .menu {
    display: flex;
    justify-content: center;
  }

  a {
    color: #032623;
    text-shadow: 1px 1px #a6a197;
    justify-content: center;
    margin: 40px;
    text-decoration: none;
    font-size: 18px;
  }

  nav {
    display: flex;
    flex-direction: row;
    gap: 5px;
    list-style: none;
    justify-content: center;
  }

  #menu li {
    display: inline-block;
  }
}

/*_________til drop down menuen */

@media only screen and (min-width: 600px) {
  ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
  }

  li {
    color: #fff;
    display: block;
    float: left;
    padding: 1rem;
    position: relative;
    text-decoration: none;
    transition-duration: 0.5s;
  }

  li:focus-within a {
    outline: none;
  }

  ul li ul {
    visibility: hidden;
    opacity: 0;
    min-width: 5rem;
    position: absolute;
    transition: all 0.5s ease;
    margin-top: 1rem;
    left: 0;
    display: none;
  }

  ul li:hover > ul,
  ul li:focus-within > ul,
  ul li ul:hover,
  ul li ul:focus {
    visibility: visible;
    opacity: 1;
    display: block;
  }

  ul li ul li {
    clear: both;
    width: 100%;
  }

  ul li ul {
    visibility: hidden;
    opacity: 0;
    min-width: 5rem;
    position: absolute;
    transition: all 0.5s ease;
    margin-top: 1rem;
    left: 0;
    display: none;
  }

  ul li:hover > ul,
  ul li:focus-within > ul,
  ul li ul:hover,
  ul li ul:focus {
    visibility: visible;
    opacity: 1;
    display: block;
  }

  ul li ul li {
    clear: both;
    width: 100%;
  }
}
/*_________________________________________OM MIG SIDEN________________________________________*/

.vaerkstoejs_kasse {
  display: flex;
  justify-content: center;
}

.boks_mig {
  display: flex;
  justify-content: center;
  background-image: url(billeder/faa_smaa_baggrund@4x.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.billede_af_mig {
  width: 50%;
  height: auto;
  display: block;
  border-radius: 70% 30% 30% 70% / 60% 40% 60% 40%;
  padding: 47px;
  margin: 56px;
  position: relative;
  object-fit: cover;
}

#forklarende_tekst_om_mig {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.sammen_vaerkstoej_teksten_om_mig {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  background-image: url(billeder/faa_smaa_baggrund@4x.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.tekst_hvem_er_jeg {
  margin: 100px;
}

/* CV + billed */
.kasse_mig {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.cv_kassen {
  margin: 60px;
}

/*__________________________________________Personligt arbejde________________________________________*/

/* MOBIL */
@media (min-width: 600px) {
  /*DEN FØRSTE SEKTION AF BILLEDER */
  #pictures_by_me .billederne {
    margin: 20px;
    padding: 2px;
  }

  #pictures_by_me .billederne {
    margin: 5px;
    padding: 2px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
  }

  .img1 {
    grid-column: 1/3;
    grid-row: 1/3;
    position: relative;
  }

  .img2 {
    grid-column: 3/4;
    grid-row: 1/2;
    position: relative;
  }

  .img3 {
    grid-column: 4/5;
    grid-row: 1/2;
    position: relative;
  }

  .img4 {
    grid-column: 3/5;
    grid-row: 2/3;
    position: relative;
  }

  .img5 {
    grid-column: 2/5;
    grid-row: 3/4;
    position: relative;
  }

  .img6 {
    grid-column: 1/2;
    grid-row: 3/4;
    position: relative;
  }

  #pictures_by_me img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  /*HOVER EFFEKT PÅ BILLEDERNE MED DERES BESKRIVELSE */

  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 0.7s ease;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
  }

  .img1:hover .overlay {
    opacity: 1;
  }
  .img2:hover .overlay {
    opacity: 1;
  }
  .img3:hover .overlay {
    opacity: 1;
  }
  .img4:hover .overlay {
    opacity: 1;
  }
  .img5:hover .overlay {
    opacity: 1;
  }
  .img6:hover .overlay {
    opacity: 1;
  }

  .img7:hover .overlay {
    opacity: 1;
  }

  .img8:hover .overlay {
    opacity: 1;
  }

  .img9:hover .overlay {
    opacity: 1;
  }

  .img10:hover .overlay {
    opacity: 1;
  }

  .img11:hover .overlay {
    opacity: 1;
  }

  .img12:hover .overlay {
    opacity: 1;
  }

  .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

  /*DEN ANDEN SEKTION AF BILLEDER */
  #pictures_by_me2 .flere_billeder {
    margin: 20px;
    padding: 2px;
  }

  #pictures_by_me2 .flere_billeder {
    margin: 5px;
    padding: 2px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
  }

  .img7 {
    grid-column: 1/3;
    grid-row: 1/3;
    position: relative;
  }

  .img8 {
    grid-column: 3/4;
    grid-row: 1/2;
    position: relative;
  }

  .img9 {
    grid-column: 4/5;
    grid-row: 1/2;
    position: relative;
  }
  .img10 {
    grid-column: 3/5;
    grid-row: 2/3;
    position: relative;
  }

  .img11 {
    grid-column: 2/5;
    grid-row: 3/4;
    position: relative;
  }

  .img12 {
    grid-column: 1/2;
    grid-row: 3/4;
    position: relative;
  }

  #pictures_by_me2 img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

/*__________________________________________Profesionnelt arbejde________________________________________*/

#inspiration_afsnit3 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
}

.forklaring_mapoule {
  display: flex;
  justify-content: space-evenly;
  margin: 30px;
}

.styling_forklaring_mapoule {
  width: 400px;
}

/* til slide-showet */
.slideshow-container {
  max-width: 350px;
  position: relative;
  margin: auto;
}
/* gem billederne når de ikke er til stede */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgb(237, 238, 233, 0.5);
}

/*__________________________________________KEA ARBEJDE________________________________________*/
video {
  width: 70%;
  height: auto;
  display: block;
  padding: 10px;
  margin: 10px;
  position: relative;

  aspect-ratio: 16/9;
}

.video_grob {
  display: flex;
  justify-content: center;
}

/* Knapperne i mobil størrelse */
@media (max-width: 700px) {
  #hjemmesider_skole {
    display: grid;
    justify-content: center;
  }

  /*første hjemmeside*/
  .tema_2_opgave {
    border: none;
    border-radius: 12%;
    color: #032623;
    background-color: #f2f2f2;
    padding: 40px 150px;
    text-decoration: none;
    font-size: 12px;
    transition-duration: 0.6s;
    cursor: pointer;
    box-shadow: 4px 3px;
    margin: 20px;
    font-family: "Be Vietnam Pro", sans-serif;
  }

  .placer_knap_1 {
    display: flex;
    justify-content: space-evenly;
  }

  /*anden hjemmeside*/
  .portfolio_eksamen {
    border: none;
    border-radius: 12%;
    color: #032623;
    background-color: #f2f2f2;
    padding: 40px 150px;
    text-decoration: none;
    font-size: 12px;
    transition-duration: 0.6s;
    cursor: pointer;
    box-shadow: 4px 3px;
    margin: 20px;
    font-family: "Be Vietnam Pro", sans-serif;
  }

  .placer_knap_2 {
    display: flex;
    justify-content: space-evenly;
  }

  /*til spilelt */
  .spil_knappen {
    border: none;
    border-radius: 12%;
    color: #032623;
    background-color: #f2f2f2;
    padding: 40px 150px;
    text-decoration: none;
    font-size: 12px;
    transition-duration: 0.6s;
    cursor: pointer;
    box-shadow: 4px 3px;
    margin: 20px;
    font-family: "Be Vietnam Pro", sans-serif;
  }

  .placer_knap_3 {
    display: flex;
    justify-content: space-evenly;
  }

  /*sidste hjemmeside */

  .kunde_hjemmeside {
    border: none;
    border-radius: 12%;
    color: #032623;
    background-color: #f2f2f2;
    padding: 40px 150px;
    text-decoration: none;
    font-size: 12px;
    transition-duration: 0.6s;
    cursor: pointer;
    box-shadow: 4px 3px;
    margin: 20px;
    font-family: "Be Vietnam Pro", sans-serif;
  }

  .placer_knap_4 {
    display: flex;
    justify-content: space-evenly;
  }
}

/* Til knapperne der fører hen til gamle opgaver */

@media (min-width: 600px) {
  #hjemmesider_skole {
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 15px;
  }

  /*Knap til første hjemmeside*/
  .tema_2_opgave {
    border: none;
    border-radius: 5%;
    background-color: #f2f2f2;
    padding: 60px 130px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 0.7rem;
    transition-duration: 0.6s;
    cursor: pointer;
    font-family: "Be Vietnam Pro", sans-serif;
    width: 80px;
    height: 10px;
  }

  .tema_2_opgave:hover {
    background-image: url(billeder/venus_portrait_original.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 20% 40%;
    opacity: 50%;
  }

  .placer_knap_1 {
    display: grid;
    justify-content: center;
    grid-column: 1/2;
    grid-row: 1/2;
  }

  /*Knap til anden hjemmeside */

  .portfolio_eksamen {
    border: none;
    border-radius: 5%;
    background-color: #f2f2f2;
    padding: 60px 130px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 0.7rem;
    transition-duration: 0.6s;
    cursor: pointer;
    font-family: "Be Vietnam Pro", sans-serif;
    width: 80px;
    height: 10px;
  }

  .portfolio_eksamen:hover {
    background-image: url(billeder/gradient_man_2_under.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 20% 40%;
    opacity: 50%;
  }

  .placer_knap_2 {
    display: grid;
    justify-content: center;
    grid-column: 2/3;
    grid-row: 1/2;
  }

  /* Knap til spillet */

  .spil_knappen {
    border: none;
    border-radius: 5%;
    background-color: #f2f2f2;
    padding: 60px 130px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 0.7rem;
    transition-duration: 0.6s;
    cursor: pointer;
    font-family: "Be Vietnam Pro", sans-serif;
    width: 80px;
    height: 10px;
  }

  .spil_knappen:hover {
    background-image: url(billeder/fransk_spil.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 20% 40%;
    opacity: 50%;
  }

  .placer_knap_3 {
    display: grid;
    justify-content: center;
    grid-column: 1/2;
    grid-row: 2/3;
  }

  /* Knap til den sidste hjemmeside */

  .kunde_hjemmeside {
    border: none;
    border-radius: 5%;
    background-color: #f2f2f2;
    padding: 60px 130px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 0.7rem;
    transition-duration: 0.6s;
    cursor: pointer;
    font-family: "Be Vietnam Pro", sans-serif;
    width: 80px;
    height: 10px;
  }

  .kunde_hjemmeside:hover {
    background-image: url(billeder/entilen2.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 20% 40%;
    opacity: 50%;
  }

  .placer_knap_4 {
    display: grid;
    justify-content: center;
    grid-column: 2/3;
    grid-row: 2/3;
  }
}

/*______________________________________________PRAKTIK_________________________________*/

/* Til billederne af opslagene */
#images_institut {
  display: flex;
}

.les_images img {
  width: 30%;
}

.les_images {
  display: flex;
  justify-content: center;
  gap: 15px;
}

/* Til videoerne som er blevet produceret */

#videos_institut {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.les_videos video {
  width: 600px;
}

.les_videos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.tekst_om_praktik {
  width: 700px;
  margin-top: 30px;
}

.texte_intro_institut {
  display: flex;
  justify-content: center;
}

.explication_photos {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.explication_videos {
  display: flex;
  justify-content: center;
}
