/*__________________________________________Generelt________________________________________*/
img {
  width: 100%;
}

.menu {
  display: flex;
  justify-content: center;
}

a {
  color: #262526;
  text-shadow: 1px 1px #bebdbf;
  justify-content: center;
  padding: 10px;
  text-decoration: none;
  font-size: 20px;
}

a:hover {
  color: #ff6143;
}

/*__________________________________________Menu knap________________________________________*/

@media (max-width: 600px) {
  .hidden {
    transform: translateX(-100%);
    opacity: 0;
  }

  #menuknap {
    display: inline-block;
    color: #032623;
    font-size: 2rem;
  }

  #menu {
    list-style-type: none;
    transition: transform 0.3s;
    transform-origin: top left;
    margin-left: 8px;
    color: #032623;
    line-height: 1.8rem;
  }

  #menuknap {
    display: none;
  }

  #menu.hidden {
    transform: translateX(0);
    opacity: 1;
  }

  #menu li {
    display: inline-block;
  }
}

@media only screen and (min-width: 600px) {
  #menuknap {
    display: none;
  }

  #menu.hidden {
    transform: translateX(0);
    opacity: 1;
  }

  #menu li {
    display: inline-block;
  }
}

/*_________________________________________OM MIG SIDEN________________________________________*/

.vaerkstoejs_kasse {
  display: flex;
  justify-content: center;
}

.boks_mig {
  display: flex;
  justify-content: center;
}

.billede_af_mig {
  width: 50%;
  height: auto;
  display: block;
  border-radius: 70% 30% 30% 70% / 60% 40% 60% 40%;
  padding: 47px;
  margin: 56px;
  position: relative;
  object-fit: cover;
}

#forklarende_tekst_om_mig {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.sammen_vaerkstoej_teksten_om_mig {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.tekst_hvem_er_jeg {
  margin: 100px;
}

/* CV + billed */
.kasse_mig {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.v_mig {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.cv_kassen {
  margin: 60px;
}

/*__________________________________________Personligt arbejde________________________________________*/
#knapperne {
  display: grid;
  justify-content: space-evenly;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.personnel_knap {
  background-image: url(billeder/personnel_knap.webp);
  border: none;
  border-radius: 2%;
  color: none;
  background-color: #f2f2f2;
  padding: 40px 150px;
  text-decoration: none;
  font-size: 12px;
  transition-duration: 0.6s;
  cursor: pointer;
  margin: 20px;
}

.personlig_box_knap {
  display: flex;
  justify-content: space-evenly;
}

/*__________________________________________Perofesionnelt arbejde________________________________________*/
.slideshow-container {
  max-width: 350px;
  position: relative;
  margin: auto;
}
/* gem billederne når de ikke er til stede */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgb(237, 238, 233, 0.5);
}

/*__________________________________________KEA ARBEJDE________________________________________*/
.video_grob {
  display: grid;
  justify-content: center;
  padding-top: 40%;
  width: 100%;
}
